{% extends 'layout.html' %}
{% block body %}
    <div class="row">
        <div class="col-md-5 offset-md-3">            
            <div class="card card-body">
                {% if route == 'client' %}
                <form action="/delete/client" method="POST">
                    <div class="form-group">
                        <label>Datos del Cliente:</label>
                    </div>
                {% endif %}
                {% if route == 'product' %}
                <form action="/delete/product" method="POST">
                    <div class="form-group">
                        <label>Datos del Producto:</label>
                    </div>
                {% endif %}  
                {% if route == 'order' %}
                <form action="/delete/order" method="POST">
                    <div class="form-group">
                        <label>Datos del Cliente:</label>
                    </div>
                {% endif %}                  
                    {% if route == 'client' or route == 'order' %}               
                    <div class="form-group">
                        <input type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57" name="clientid" placeholder="Id" class="form-control" required>
                    </div>
                    {% endif %} 
                    {% if route == 'product' %}               
                    <div class="form-group">
                        <input type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57" name="productid" placeholder="Id" class="form-control" required>
                    </div>
                    {% endif %} 
                    <div class="form-group">
                        <button type="submit" class="btn btn-danger btn-block btn-delete">Eliminar</button>
                    </div> 
                </form>
            </div> 
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>        
    </div>       
{% endblock %}